* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ArialMT";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* --------- section product */

.product {
  background: #445162;
}
.product_container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}
.product_container_left {
  display: flex;
  flex-direction: column;
}
.product_container_right {
}
.product_title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
}
.product_list {
  max-width: 458px;

  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;

  list-style: none;
  padding: 0;
  margin: 0;
}
.product_item::before {
  content: "";
  background-image: url(img/check_icon.png);
  display: inline-block;
  width: 25px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}
.product_img {
}

/* --------- section about */
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}
.about_container {
  display: flex;
  flex-direction: column;
  max-width: 653px;
}
.about_container p {
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.about_title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
}
.about_img {
}

/* --------- section about_product */

.about_product {
  background: #f5f5f5;
}
.about_product_container {
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_product__title {
  margin-bottom: 30px;
  color: #445161;

  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.about_product__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.about_product__item {
  flex-basis: 50%;
  margin-bottom: 35px;
  color: #333333;
  list-style: outside url(img/plus_icon.png);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* --------- section Screenshots */

.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  width: 100%;
}
.screenshots_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.screenshots_title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  flex-basis: 100%;
}
.screenshots_images {
  display: flex;
  flex-basis: 46%;
  padding: 15px;
  margin-right: 16px;
}
.screenshots_images h3 {
  color: #445161;

  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.screenshots_images p {
  color: #333333;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.screenshots_image {
  margin-right: 15px;
}
.screenshots_description {
}

/* --------- section reviews */

.reviews {
}
.reviews_title {
}
.reviews_reveiw {
}
.review_img {
}
.review_text {
}
.review_autor {
}

/* --------- section price_menu */

.price_menu {
}
.price_menu__title {
}
.price_menu__card {
}
.card_title {
}
.card_price {
}
.card_description {
}
.price_menu__card__Standart {
}
.price_menu__card__Premium {
}
.price_menu__card__Lux {
}

/* --------- section Contacts */

.contacts {
}
.contacts_title {
}
.contacts_forms {
}
.forms_name {
}
.forms_email {
}
.forms_textarea {
}
.forms__button_send {
}
.contacts_public {
}
.public_list {
}
.public_skype {
}
.public_icq {
}
.public_mail {
}
.public_tel {
}
.public__social_media {
}

/* --------- section footer */

.footer {
}

@font-face {
  /* название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) */
  font-family: "ArialMT";
  /* адрес шрифта и тип */
  src: url(fonts/ArialMT.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
